/* GENERAL  */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(184, 184, 171);
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul{

    position: fixed;
    right: 20px;
    top: 4vh;
    z-index: 1000000000; /*non si sà mai...*/
}

.product{
    height: 100vh;
    position: relative;
}

a{  font-size: 2vh;
    text-decoration: none;
    font-weight: bold;
}


/* UTILITY  */
.overlay:active{
    background-color: rgba(0, 0, 0, 0.5);
}


.overflow{
    overflow: hidden;
}


a:active{
    transform: translateY(5px);
    box-shadow: 1px 1px 8px black;

}

a{ display: inline-block;
    background-color: white;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* HEADER  */
header nav ul li{
    list-style: none;
    display: inline-block;
    
    text-align: center;
    margin-right: 3vw;
    
}

header nav ul li a{
    line-height: 50px;
}





/* MAIN  */

.content{
    /* background-color: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/* FITTING WIDTH  */
img, h1{
    width: 50vw;

}

h1{
    font-size: 4vw;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
}

/* GETTING BACKGROUND COLORS */

.product.one{
    background-color: red;
}
.product.one h1{
    color: yellow;
}

.product.two{
    background-color: green;
}
.product.two h1{
    color: yellow;
}

.product.three{
    background-color:yellow ;
}
.product.product.three h1{
    color: green;
}